@import '../../assets/styles/colors.scss';

/* Variables */
$transition: all 400ms ease;

.skill {
	background: $bg-variant;
	padding: 2.4rem 5rem;
	border-radius: 2rem;
	border: 1px solid transparent;
	transition: $transition;
	&:hover {
		background: transparent;
		border-color: $primary-variant;
		cursor: default;
	}
	h3 {
		text-align: center;
		margin-bottom: 2rem;
		color: $primary;
	}
	&__content {
		display: grid;
		grid-template-columns: 1fr 1fr;
		row-gap: 2rem;
	}
	&__details {
		display: flex;
		gap: 1rem;
		align-items: baseline;
		&-icons {
			margin-top: 6px;
			color: $primary;
		}
	}
	
}




/* ============ MEDIA QUERIES (SMALL DEVICES) ============ */
@media screen and (max-width: 600px) {


	.skill {
		width: 95%;
		padding: 2rem 1rem;

		&__details-icons {
			padding: 1.5px;
		}
	}
}

/* ============ MEDIA QUERIES (SMALL DEVICES) ============ */
@media screen and (max-width: 600px) {
	.skill {
		width: 95%;
		padding: 2rem 1rem;

		&__details-icons {
			padding: 1.5px;
		}
	}
}
