@import '../../assets/styles/colors.scss';

/* Variables */
$transition: all 400ms ease;

.container.contact__container {
    width: 58%;
    display: grid;
    grid-template-columns: 28% 58%;
    gap: 12%;
}


.contact__options {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contact__option {
    background: $bg-variant;
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: $transition;
	&:hover {
		background: transparent;
		border-color: $primary-variant;
	}
	&__icon {
		font-size: 2.5em;
		margin-bottom: 0.5rem;
		a {
			margin-top: 0.7rem;
			display: inline-block;
			font-size: 0.8rem;
		}
	}
	h5 {
		color: $light;
	}
}

/* =============== FORM =============== */
form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
	
}

input, textarea {
    width: 100%;
    padding: 2.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid $primary-variant;
    resize: none;
    color: $white;
	transition: $transition;
	&:focus{
		    box-shadow: 0px 0px 8px 1px rgb(77 181 255 / 40%);
	}
}

.error{
	font-size: 1em;
    color: red;
    padding-left: 0.5rem;
    margin-bottom: 1.2rem;
}

.status-message {
  opacity: 0;
}
.success {
  opacity: 1;
  color: green;
}
.failure {
  opacity: 1;
  color: red;
}


 /* ============ MEDIA QUERIES (MEDIUM DEVICES) ============ */
 @media screen and (max-width: 1024px) {
    .container.contact__container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
 }

  /* ============ MEDIA QUERIES (SMALL DEVICES) ============ */
  @media screen and (max-width: 600px) {
    .container.contact__container {
        width: var(--container-width-sm);
    }
  }
